*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/* breadcrumb */
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 0rem;
    list-style: none;
}
.breadcrumbMobile{
    display: none;
    padding: 20px 0 10px 10px;
}

.breadcrumbMobile ol li a{
    font-family: TT Hoves Pro Trial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.borderBottomFromtablet{
        border-bottom: 1px solid #AFAFAF
    ;
}

.missionValueInfofortablet{
    display: none;
}

/* breadcrumb */


/* hero */
.allProductBanner{
    background-image: url("../images/product/allProduct-Banner.png");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    margin-top: 128px;
    padding: 80px 0;
}

.allProductBanner h1{
    color: #ffffff;
    padding-bottom:30px;
}


/* hero*/



.pagination-controls{
    display: none;
}








/* products */

.perticularProduct {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.25); /* Light border for a glass edge effect */
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out; /* Smooth transitions */
    display: flex; /* Makes the anchor fill the entire div */
    flex-direction: column; /* Stack children vertically */
    margin-bottom: 60px; /* Separation between items */
}

.perticularProduct a {
    display: flex; /* Ensure the anchor fills the entire space */
    flex-direction: column; /* Organize children vertically */
    height: 100%; /* Stretch to fill the container */
    text-decoration: none; /* Remove underline from links */
}

.perticularProduct img {
    width: 100%; /* Ensure images fill the width */
    flex-shrink: 0; /* Prevent image from shrinking */
}

.perticularProduct h3 {
    font-family: 'TT Hoves Pro Trial', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    padding: 30px 0 15px 0;
}

.perticularProduct p {
    padding-bottom: 18px;
    margin-bottom: 0;
    flex-grow: 1; /* Allow paragraph to expand and push down any space */
}


.perticularProduct:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Increase shadow on hover */
}


















          



        
        /* products */



        @media (max-width:991px){
            .allProductBanner h1{
                padding-top: 20px;
            }

            .allProductBanner {
                margin-top: 124px;
            }

            .breadcrumbMobile{
                display: none;
                padding: 25px 0;
            }
            .breadcrumbMobile{
                display: block;
                border-bottom: 1px solid #AfAfAf;
            }
            .productsGallery p{
                font-size: 18px;
            }

            .breadcrumbDesktop{
                display: none;
            }
        


            .productsGallery h1{
                font-size: 32px;
                padding-bottom: 50px;
            }

            .productsGallery{
               padding-top: 70px;
               padding-bottom: 30px;
            }
            
        }
        @media (max-width:575px){
            .productsGallery {
                padding: 30px 25px 0 25px;
            }
            
            .allProductBanner h1{
                padding-left: 25px;
            }

            .breadcrumbMobile{
               display: none;
            }
            .productsGallery h1{
                padding-left: 10px;
            }

            .perticularProduct {
                padding: 0 20px;
            }

        }


@media (max-width:480px){
    .productCardfor1080 {
        width: 100%;
    }
    .perticularProduct {
        box-shadow: none;
        border: none;
    }
    .pagination-controls{
        display: block;
    }
    
    .pagination-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
      
      .pagination-btn {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 5px 10px;
        margin: 0 5px;
        cursor: pointer;
      }
      
      .pagination-btn:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
      
      #paginationNumbers {
        display: flex;
        align-items: center;
      }
      
      #paginationNumbers span {
        margin: 0 5px;
        cursor: pointer;
      }
      
      #paginationNumbers span.active {
        font-weight: bold;
        text-decoration: underline;
      }
      


}


@media (max-width:451px){

    .pagination-controls{
        display: block;
    }

    .productsGallery h1 {
        font-size: 25px;
        padding-bottom: 50px;
    }

    .perticularProduct h3 {
        font-weight: 500;
    }

    .productsGallery p {
        font-size: 16px;
    }

  

    .productCardfor1080 {
        width: 100%;
    }


    .allProductBanner {
        margin-top: 124px;
    }
    .allProductBanner {
        padding: 0px 0;
    }
    .allProductBanner h1 {
        padding-top: 0px;
        padding-bottom: 0;
    }
    .allProductBanner h1{
        padding: 70px 14px;
    }
    h1 {
        font-size: 30px;
    }





    .pagination-controls {
        display: flex;
        justify-content: center;
        align-items: center;

        padding-bottom: 60px;
      }
      
      .pagination-btn {
        background-color: rgb(255, 255, 255);
        color: rgb(128, 128, 128);
        border: none;

        margin: 0 5px;
        cursor: pointer;
        border: 1px solid #e6e6e6;
        
      }
      
      .pagination-btn:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
      
      #paginationNumbers {
        display: flex;
        align-items: center;

      }
      
      #paginationNumbers span {
        margin: 0 5px;
        cursor: pointer;
        border: 1px solid #e6e6e6;
        margin-right: 5px;
        padding: 5px 13px;
      }
      
      #paginationNumbers span.active {
        font-weight: bold;
        background-color: #FF4A23;
        color: white;
        border: none;
        text-decoration: none;
      }
      
















}



@media (max-width:407px){
    .allProductBanner {
        margin-top: 121px;
    }
}

@media (max-width:400px){
    .allProductBanner {
        margin-top: 119px;
    }
}
@media (max-width:395px){
    .allProductBanner {
        margin-top: 118px;
    }
}

@media (max-width:390px){
    .allProductBanner {
        margin-top: 116px;
    }
}
@media (max-width:385px){
    .allProductBanner {
        margin-top: 114px;
    }
}
@media (max-width:380px){
    .allProductBanner {
        margin-top: 113px;
    }
}
@media (max-width:375px){
    .allProductBanner {
        margin-top: 111px;
    }
}
@media (max-width:370px){
    .allProductBanner {
        margin-top: 109px;
    }
}
@media (max-width:365px){
    .allProductBanner {
        margin-top: 107px;
    }
}
@media (max-width:360px){
    .allProductBanner {
        margin-top: 106px;
    }
}
@media (max-width:355px){
    .allProductBanner {
        margin-top: 104px;
    }
}
@media (max-width:350px){
    .allProductBanner {
        margin-top: 102px;
    }
}

@media (max-width:345px){
    .allProductBanner {
        margin-top: 101px;
    }
}
@media (max-width:340px){
    .allProductBanner {
        margin-top: 99px;
    }
}
@media (max-width:335px){
    .allProductBanner {
        margin-top: 97px;
    }
}
@media (max-width:330px){
    .allProductBanner {
        margin-top: 95px;
    }
}
@media (max-width:325px){
    .allProductBanner {
        margin-top: 94px;
    }
}
@media (max-width:320px){
    .allProductBanner {
        margin-top: 92px;
    }
}
@media (max-width:315px){
    .allProductBanner {
        margin-top: 91px;
    }
}
@media (max-width:310px){
    .allProductBanner {
        margin-top: 89px;
    }
}
@media (max-width:305px){
    .allProductBanner {
        margin-top: 87px;
    }
}
@media (max-width:300px){
    .allProductBanner {
        margin-top: 86px;
    }
}
@media (max-width:295px){
    .allProductBanner {
        margin-top: 84px;
    }
}
@media (max-width:290px){
    .allProductBanner {
        margin-top: 84px;
    }
}
















@media (max-width:380px){

}


@media (max-width:320px){
    .pagination-container ul li {
        margin: 0 4px;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 5px 12px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}
 