*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* breadcrumb */
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 0rem;
    list-style: none;
}
.breadcrumbMobile{
    display: none;
    padding: 20px 0 10px 10px;
}

.breadcrumbMobile ol li a{
    font-family: TT Hoves Pro Trial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.borderBottomFromtablet{
        border-bottom: 1px solid #AFAFAF
    ;
}

.missionValueInfofortablet{
    display: none;
}

/* breadcrumb */


/* hero */
.allProductBanner{
    background-image: url("../images/product/allProduct-Banner.png");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    margin-top: 128px;
    padding: 80px 0;
}

.allProductBanner h1{
    color: #ffffff;
    padding-bottom:30px;
}
/* hero*/




.singleProductImage  img{
    width: 88%;
}






.perticulerProductinfo h2{
    text-align: left;
    border-left: 5px solid #FF4A23;
    padding-left: 10px;
    padding-bottom: 0;
}



.perticulerProductinfo p{
    padding-left: 10px;
    padding-top: 20px;
}

/* singleProduct */

@media (max-width:1366px){
.singleProductImage img{
    width: 88%;
}
}



@media (max-width:1224px){
    .perticulerProductinfo p{
        font-size: 18px;
    }
}


@media (max-width:1024px){
    .perticulerProductinfo p {
        font-size: 18px;
    }
}



@media (max-width:991px){

    .allProductBanner h1{
       padding-top: 20px
       ;
    }




    .allProductBanner {
        margin-top: 124px;
    }


    .sectionDeviderforDesktopTopPadding {
        padding-top: 70px;
    }

    .sectionDeviderforDesktopBottomPadding {
        padding-bottom: 35px;
    }


    .singleProduct h1{
        font-family: TT Hoves Pro Trial;
        font-size: 32px;
        font-weight: 600;
        line-height: 52.8px;
        text-align: left;
        color: #000000;
        padding-bottom: 38px;
    }
    
.singleProductImage{
    padding-bottom: 60px;
}

.breadcrumbDesktop{
    display: none;
}

.breadcrumbMobile{
    display: block;
    padding: 25px 0;
    border-bottom: 1px solid #AFAFAF;
}
}



@media (max-width:767px){
    .singleProductImage img {
        width: 100%;
    }
}


@media (max-width:575px){

    .allProductBanner h1 {
       padding-left: 20px;
    }

.breadcrumbMobile{
display: none;
}

.singleProduct {
    padding: 0 15px 35px 15px;
}
.singleProduct h1{
    padding-top: 50px;
}

    .breadcrumb-item+.breadcrumb-item {
        padding-left: 0rem;
    }
    
    .breadcrumb-item+.breadcrumb-item::before {
      padding-right: 0rem;
    }
    
    .breadcrumbMobile ol li a {
      font-size: 14px;
    }

    .singleProduct h1 {
        padding-bottom: 30px;
    }

    .singleProductImage {
        padding-bottom: 50px;
    }
}

@media (max-width:500px){
    .singleProduct {
        padding: 0 15px 25px 15px;
    }
}

@media (max-width:451px){
    .singleProduct h1{
        font-size: 25px;
    }
    .perticulerProductinfo p {
        font-size: 16px;
    }

    .allProductBanner {
        margin-top: 124px;
    }
    .singleProduct {
        padding: 0 15px 25px 15px;
    }
    .allProductBanner {
        padding: 40px 0;
    }
    .allProductBanner h1 {
        padding-left: 16px;
    }
    h1 {
        font-size: 30px;
    }
    .allProductBanner h1 {
        padding-top: 0px;
    }
    .allProductBanner h1 {

        padding-bottom: 0px;
    }
    .allProductBanner {
        padding: 0px 0;
    }
    .allProductBanner h1{
        padding: 70px 14px;
    }
}




@media (max-width:407px){
    .allProductBanner {
        margin-top: 121px;
    }
}

@media (max-width:403px){
    .allProductBanner {
        margin-top: 122px;
    }
}
@media (max-width:400px){
    .allProductBanner {
        margin-top: 119px;
    }
}
@media (max-width:395px){
    .allProductBanner {
        margin-top: 119px;
    }
}
@media (max-width:390px){
    .allProductBanner {
        margin-top: 117px;
    }
}
@media (max-width:385px){
    .allProductBanner {
        margin-top: 115px;
    }
}
@media (max-width:380px){
    .allProductBanner {
        margin-top: 114px;
    }
}
@media (max-width:375px){
    .allProductBanner {
        margin-top: 112px;
    }
}
@media (max-width:370px){
    .allProductBanner {
        margin-top: 109px;
    }
}
@media (max-width:365px){
    .allProductBanner {
        margin-top: 109px;
    }
}
@media (max-width:360px){
    .allProductBanner {
        margin-top: 106px;
    }
}
@media (max-width:355px){
    .allProductBanner {
        margin-top: 105px;
    }
}
@media (max-width:350px){
    .allProductBanner {
        margin-top: 102px;
    }
}
@media (max-width:345px){
    .allProductBanner {
        margin-top: 102px;
    }
}
@media (max-width:340px){
    .allProductBanner {
        margin-top: 100px;
    }
}
@media (max-width:335px){
    .allProductBanner {
        margin-top: 98px;
    }
}
@media (max-width:330px){
    .allProductBanner {
        margin-top: 96px;
    }
}
@media (max-width:325px){
    .allProductBanner {
        margin-top: 95px;
    }
}
@media (max-width:320px){
    .allProductBanner {
        margin-top: 93px;
    }
}
@media (max-width:315px){
    .allProductBanner {
        margin-top: 91px;
    }
}
@media (max-width:310px){
    .allProductBanner {
        margin-top: 90px;
    }
}
@media (max-width:305px){
    .allProductBanner {
        margin-top: 88px;
    }
}
@media (max-width:300px){
    .allProductBanner {
        margin-top: 86px;
    }
}
@media (max-width:295px){
    .allProductBanner {
        margin-top: 84px;
    }
}
@media (max-width:290px){
    .allProductBanner {
        margin-top: 83px;
    }
}
@media (max-width:285px){
    .allProductBanner {
        margin-top: 81px;
    }
}
@media (max-width:280px){
    .allProductBanner {
        margin-top: 79px;
    }
}
























@media (max-width:380px){
    h2 {
        font-size: 20px;
        font-weight: 450;
        color: #000000;
        margin-bottom: 0;
        padding-bottom: 50px;
    }
    .singleProduct h1 {
        padding-top: 40px;
    }
}



@media (max-width:320px){
    .singleProduct h1 {
        padding-top: 30px;
    }
    .singleProduct h1 {
        padding-bottom: 18px;
    }
    .singleProduct {
        padding: 0 15px 0px 15px;
    }
}

